/TraCare/nbproject/private/
/TraCare/build/
/Test/nbproject/private/
/WSTestApplication/nbproject/private/
/WSTestApplication/build/
/WSTestClient/nbproject/private/
/WSTestClient/build/
/TraCare/dist/