/* 
    Document   : main
    Created on : 10-Mar-2013, 2:37:14 PM
    Author     : Dillon
    Description:
        Purpose of the stylesheet follows.
*/

.dialog-settings {
    max-height: 400px !important;
    overflow: auto !important;
}

.dialog-position {
    top: -100px !important;
}

.footer-center {
    text-align: center;
}

.footer-button {
    width: 160px !important;
}

span.error {
    color: red;
    display: none;
}

.ui-slider-input {
    display: none !important;
}

body {
 background-color: black !important;
}

#status_message 
{
    position: fixed;
    z-index: 9999;
    display: none;
    margin-left: -355px;
    width: 700px;
    top: 50px;
    left: 50%;
    height: 20px;
    padding: 5px;
    text-align: center;
    color: White;
    opacity: 0.9;
    font-size: 14pt;
    -webkit-box-shadow: 5px 10px 20px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 5px 10px 20px rgba(50, 50, 50, 0.5);
    box-shadow: 5px 10px 20px rgba(50, 50, 50, 0.5);
}

.status_message_valid
{
    background-color: #99CC99;
    border: 3px solid #33AA33;
}

.status_message_invalid
{
    background-color: #CC9999;
    border: 3px solid #AA3333;
}

.status_message_warn 
{
    background-color: #CCCC33;
    border: 3px solid #AAAA00;
}

#login-data {
    padding-left: 10px;
    padding-top: 8px;
}

#weight-display {
    float: left;
    display: inline-block;
    padding-top: 15px;
}

td {
    vertical-align: top;
}

.heading {
    font-weight: bold;
}